.alert-custom {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
}

.footer {
    text-align: right;
}

header img{
    width: 70%;
    margin: 0 15%;
}

.container{
    margin-bottom: 30px;
}

.imgContainer{
    width: 100%;
}
.imgContainer img{
    margin: 2em 5%;
    width: 90%;
}
