@import "../node_modules/bootstrap/scss/functions";

$primary: #8f4e8b;
$dark: adjust-color(#453a62, $lightness: -10);
$primary-light: adjust-color($primary, $lightness: 30);
$gray-light: adjust-color($dark, $lightness: 70, $saturation: -10);

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// TODO: Should we vendor this as we do with 'bootstrap.js' in the /js folder?
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary-light": $primary-light,
    "gray-light": $gray-light,
  )
);

$theme-colors-rgb: map-merge(
  $theme-colors-rgb,
  (
    "primary-light": #{to-rgb($primary-light)},
    "gray-light": #{to-rgb($gray-light)},
  )
);

$utilities: map-merge(
  $utilities,
  (
    "background-color": (
      property: background-color,
      class: bg,
      values: $theme-colors,
    ),
  )
);

@import "bootstrap/scss/bootstrap.scss";

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
//
// https://caniuse.com/?search=scroll-padding
html {
  scroll-padding-top: 3.5rem;
}

// Header padding accounts for the height of the navbar
header {
  padding-top: 6rem + 3.5rem;
  padding-bottom: 6rem;
}

// Section padding
section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
