<h1>MuniHac</h1>

<div class="row">
<div class="col-md-12">
<p>
MuniHac is a three day Haskell hackathon taking place from <strong>Friday 6<sup>th</sup> to Sunday 8<sup>th</sup> September 2019</strong>
in the beautiful city of Munich, hosted and sponsored by TNG Technology Consulting GmbH and co-organized by Well-Typed LLP.
The Hackathon is intended to follow the tradition of other Haskell Hackathons such as the ZuriHac, HacBerlin, UHac and many others.
</p>
<p>
We have capacity for &#126;80 Haskellers to collaborate on any Haskell-related
project they like. There will be beginner workshops and a mentor program to
help you get started. Of course you can as well start hacking Haskell right away.
Anyone is welcome to participate. <strong>Beginner or pro, we've got you covered :)</strong>
</p>
<p>
Hacking on Haskell projects will be the main focus of the event, but we will also have a
couple of talks by renowned Haskellers.
The MuniHac is furthermore  a great opportunity to meet and socialize with fellow
Haskellers and have a great time together. Among other things, we are looking
forward to having BBQ, pizza and a traditional Bavarian Breakfast.
</p>
</div>
</div>
