<h1>Virtual MuniHac 2020</h1>

<div class="row">
<div class="col-md-12">

    <p>This year, we are planning MuniHac to be a one- or two-day online event filled
    with Haskell talks and workshops that will be streamed via the internet.
    MuniHac will be free to attend. We are, as of now, looking for
    proposals.</p>

    <p>MuniHac will take place on the "weekend" of 11th to 13th of September.</p>

    <p>We are encouraging talks at all levels of Haskell knowledge, and
    especially (but not exclusively) talks that have a direct perspective to
    coding, such as, for example:</p>

    <ul>
        <li>Introducing a particular library, tool or compiler.</li>
        <li>In-depth explanations of existing code.</li>
        <li>Explaining a new (or existing) project that could use more outside help.</li>
        <li>Aspects of the Haskell infrastructure.</li>
        <li>…</li>
    </ul>

    <p>We are looking for short talks (35 minutes + 10 minutes of questions) and
    longer workshops (120 minutes, including questions).</p>

    <p>If you have an idea that you would like to present, please send us some
    information, either via a <a href="https://forms.gle/pdqUP5K1XmFqoMwK6">Google Form</a>,
    or via email to <a href="mailto:munihac@tngtech.de">munihac@tngtech.com</a>.</p>

    <p>If you are in doubt whether something would be a good fit, feel free to
    talk to us. We also encourage contributions from first-time speakers.</p>

    <p>We will make the ultimate decision on how to structure the day(s) and how
    many slots we will offer based on the reactions to this call. The different
    nature to past years make it difficult to predict how many submissions we
    will get, so we apologise in advance should we end up having to reject good
    ideas due to timing constraints. But please don't let that possibility
    discourage you. We would like to hear from you.</p>

    <p>Please try to send us your proposals by 22 July 2020.</p>

    <p>A full announcement of Virtual MuniHac 2020 with information on how to
    register and participate will follow later.</p>

</div>
</div>
