<h1>Virtual MuniHac 2020</h1>

<div class="row">
    <div class="col-md-12">

        <p>This year, we are planning MuniHac to be a one- or two-day online event filled
            with Haskell talks and workshops that will be streamed via the internet.
            MuniHac will be free to attend. We are, as of now, looking for
            proposals.</p>

        <h3>Programme</h3>

        <p> MuniHac 2020 will take place remotely on Friday, September 11 and Saturday, September 12, 2020. We will open
            on Friday 11:30 CEST for two days and three tracks of Haskell-related workshops and talks. See the <a
                href="#speakers">list of confirmed speakers</a>! And if your're here just to connect with other
            Haskellers or hack on projects, we'll have you covered as well.
    </div>
</div>
