<a name="participantInfo" />
<h2>Participant Info</h2>

<h3>Communication Channels</h3>

<ul>
    <li>Zoom: All talks and workshops will be held via zoom.us, so installing a client or making otherwise sure that you
        can join Zoom calls is a good idea.
    </li>
    <li>Youtube: Additionally, all talks will be streamed on Youtube.</li>
    <li>Slack: We're going to use Slack for questions and discussion on the individual talks and workshops, as well as
        for connecting with other MuniHac participants.</li>
</ul>

<p>
    There'll be an overview over all Zoom conferences, Youtube streams and Slack channels on the day of the conference.
</p>
<p>
    If you haven't yet, register for Slack at
    https://join.slack.com/t/munihac/shared_invite/zt-gaq3veyb-u3j9F0LqN0Q60Zc2MVqvSw
    and join the #munihac-2020 channel, where you can meet up with other guests.
</p>
