<div class="row">
    <div class="col-md-12">

        <h2 id="registration">Registration</h2>

        <p>Registration for MuniHac 2020 is open: <a
                href="https://registration.munihac.de/register">https://registration.munihac.de/register</a></p>

        <h3>Projects</h3>

        <p>Although the focus this year is more on workshops and talks, MuniHac would not be a proper Haskell hackathon
            without some hacking sessions. We've reserved a few Zoom rooms for you to get together and hack on projects,
            so if you want to host a project at MuniHac 2020, just get in touch with us at <a
                href="mailto:munihac@tngtech.com">munihac@tngtech.com</a>! We'll create a Zoom session and slack channel
            for you, and publish them so people can join you for your project.</p>
    </div>
</div>
