<a name="speakers" />
<h2>MuniHac 2020 Speakers</h2>

<div class="row">
    <div class="col-md-6">

        <h3>Talks</h3>

        <div class="row">
            <div class="col-md-12">
                <a name="AndrewLelechenko" />
                <h4>Polynomials in Haskell</h4>
                <h5>Andrew Lelechenko</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="AustinHuang" />
                <h4>Hasktorch: A Haskell library for tensor math and differentiable functional programming</h4>
                <h5>Austin Huang</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="JohannesDrever" />
                <h4>An Introduction to Applied Category Theory</h4>
                <h5>Johannes Drever</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="LarsBruenjes" />
                <h4>This ain't your Daddy's Probability Monad</h4>
                <h5>Lars Brünjes</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="LarsHupel" />
                <h4>Theorems for Free</h4>
                <h5>Lars Hupel</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="NeilMitchell" />
                <h4>Migrating HLint to the GHC API</h4>
                <h5>Neil Mitchell</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="PepeIborra" />
                <h4>Let's write a Haskell Language Server plugin</h4>
                <h5>Pepe Iborra</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="TamarChristina" />
                <h4>The new Windows I/O manager (WinIO) in GHC</h4>
                <h5>Tamar Christina</h5>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <h3>Workshops</h3>

        <div class="row">
            <div class="col-md-12">
                <a name="AlejandroSerrano" />
                <h4>Miso: Haskell in the front-end</h5>
                    <h5>Alejandro Serrano</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="AndresLoeh" />
                <h4>Liquid Haskell</h4>
                <h5>Andres Löh</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="ChristiaanBaaij" />
                <h4>Building a RISC-V SoC with Haskell and Python</h4>
                <h5>Christiaan Baaij</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="DavidLuposchainsky" />
                <h4>Haskell Beginners Workshop</h4>
                <h5>David Luposchainsky</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="ManuelBaerenz" />
                <h4>Video & game live coding in Haskell</h4>
                <h5>Manuel Bärenz</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="MichaelSperber" />
                <h4>Control your effects</h4>
                <h5>Michael Sperber</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a name="TomEllis" />
                <h4>Introduction to Opaleye</h4>
                <h5>Tom Ellis</h5>
            </div>
        </div>

    </div>
</div>
