<h2>Keynotes</h2>

<a name="OliverCharles" />
<div class="keynote">
    <h3>Fast Downward: Solving Declarative Planning problems in Haskell</h3>
    <h4>Oliver Charles</h4>
    <div class="row">
        <div class="col-md-8">
            <p>
                The classical planning branch of AI - one of the oldest branches of AI
                - is primarily interested in determining a sequence of actions to move
                from a known state to another state that satisfies some conditions
                required by an operator. Traditionally, this work has happened in the
                very physical space of moving robots, but it's so much more general!
                In this talk, Ollie will demonstrate his work on a Haskell DSL to
                interact to the state of the art general purpose solver "Fast
                Downward", but in the context of automating a hypothetical smart home.
            </p>
        </div>
        <div class="col-md-4">
            <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/riugQmHx0K0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<a name="JoachimBreitner" />
<div class="keynote">
    <h3>The many faces of isOrderedTree</h3>
    <h4>Joachim Breitner</h4>
    <div class="row">
        <div class="col-md-8">
            <p>
                In this talk, we will look at a seemingly simple programming
                problem – checking whether the elements in a binary tree are in
                order – and not only explore many different approaches to
                solving this problem, but also show how they are all connected.
                As we do that, we will touch upon equational reasoning,
                defunctionalization, the worker-wrapper transformation, and
                more. We learn about the limits of type-driven development and
                finally appreciate the deep significance of type class laws.
            </p>
            <p>
                This talk only assume elementary knowledge of Haskell (or functional
                programming in general): Algebraic data types and recursive
                functions.
            </p>
        </div>
        <div class="col-md-4">
            <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/xcm_H36v_18" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<a name="NeilMitchell" />
<div class="keynote">
    <h3>Making a Haskell IDE</h3>
    <h4>Neil Mitchell</h4>
    <div class="row">
        <div class="col-md-8">
            <p>
                I've always wanted a Haskell IDE. The absence of a simple and robust
                solution led me to build Ghcid, which I've been using for many years.
                However, I have moved on, now using a real Haskell IDE based on
                technology we developed at Digital Asset for the DAML programming
                language. It turns out building an IDE is harder than I expected, so
                in this talk I'll cover three topics:
                <ol>
                    <li>The theory behind building an IDE. We use an in-memory dependency
                        graph, with some interesting tweaks.</li>
                    <li>What's there today and how you can use it. I'll also
                        cover the relationship to haskell-ide-engine, DAML and
                        other related projects.</li>
                    <li>What's missing and how you can help. I'll be hacking on the
                        IDE at MuniHac, and everyone is welcome to join in.</li>
                </ol>
            </p>
        </div>
        <div class="col-md-4">
            <iframe width="320" height="180" src="https://www.youtube-nocookie.com/embed/cijsaeWNf2E" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>