<h2>Schedule</h2>

<p>Please note that all times are CEST.</p>

<table class="table table-bordered">
  <tr class="bg-primary">
    <th colspan="4">Friday, Sep. 6, 2019</th>
  </tr>
  <tr>
    <th scope="col" class="col-md-1">Time</th>
    <th scope="col" class="col-md-4">Hackathon</th>
    <th scope="col" class="col-md-4">Workshop</th>
    <th scope="col" class="col-md-3">Techday</th>
  </tr>
  <tr>
    <th scope="row">8:00</th>
    <td colspan="3">Doors open &amp; Registration</td>
  </tr>
  <tr>
    <th scope="row">8:30</th>
    <td colspan="3">Breakfast</td>
  </tr>
  <tr>
    <th scope="row">9:00</th>
    <td colspan="3">Opening</td>
  </tr>
  <tr>
    <th scope="row">9:15</th>
    <td colspan="3">Time for everybody to present their projects and/or find fellow Haskellers to work with</td>
  </tr>
  <tr>
    <th scope="row">9:45</th>
    <td rowspan="2">Hack on</td>
    <td rowspan="2">Beginner's Workshop</td>
    <td>Talk: Techday at TNG – Forming Culture through Freedom</td>
  </tr>
  <tr>
    <th scope="row">10:30</th>
    <td rowspan="2">Talk: Azure Essentials</td>
  </tr>
  <tr>
    <th scope="row">11:00</th>
    <td colspan="2" rowspan="2">Keynote: <a href="#NeilMitchell">Neil Mitchell: <i>Making a Haskell IDE</i></a></td>
  </tr>
  <tr>
    <th scope="row">11:30</th>
    <td rowspan="2">Lunch</td>
  </tr>
  <tr>
    <th scope="row">12:30</th>
    <td colspan="2" rowspan="2">Lunch</td>
  </tr>
  <tr>
    <th scope="row">13:30</th>
    <td rowspan="2">Lightning Talks</td>
  </tr>
  <tr>
    <th scope="row">14:00</th>
    <td rowspan="2">Hack on</td>
    <td rowspan="2">Beginner's workshop (continued)</td>
  </tr>
  <tr>
    <th scope="row">14:15</th>
    <td>Talk: Automated Testing of an Angular Application</td>
  </tr>
  <tr>
    <th scope="row">15:30</td>
    <td colspan="2">Coffee &amp; cake</td>
    <td>Talk: What will this Rust code do?</td>
  </tr>
  <tr>
    <th scope="row" />
    <td colspan="3">Hack on</td>
  </tr>
  <tr>
    <th scope="row">17:00</td>
    <td colspan="3">Official end</td>
  </tr>
  <tr>
    <th scope="row">19:00</td>
    <td colspan="3">After-hack get-together</td>
  </tr>
</table>

<table class="table table-bordered">
  <tr class="bg-primary">
    <th colspan="4">Saturday, Sep. 7, 2019</th>
  </tr>
  <tr>
    <th scope="col" class="col-md-1">Time</th>
    <th scope="col" class="col-md-6">Hackathon</th>
    <th scope="col" class="col-md-5">Workshop</th>
  </tr>
  <tr>
    <th scope="row">8:30</th>
    <td colspan=2>Doors open &amp; Breakfast</td>
  </tr>
  <tr>
    <th scope="row">9:00</th>
    <td>Hack on</td>
    <td>Workshop TBD</td>
  </tr>
  <tr>
    <th scope="row">11:30</th>
    <td colspan=2>Keynote: <a href="#JoachimBreitner">Joachim Breitner: <i>The many faces of isOrderedTree</i></a></td>
  </tr>
  <tr>
    <th scope="row">12:30</th>
    <td colspan=2>Lunch</td>
  </tr>
  <tr>
    <th scope="row">13:45</th>
    <td colspan=2>Group Photo</td>
  </tr>
  <tr>
    <th scope="row">14:00</th>
    <td>Hack on</td>
    <td>Workshop TBD</td>
  </tr>
  <tr>
    <th scope="row">15:30</th>
    <td colspan=2>Coffee &amp; cake</td>
  </tr>
  <tr>
    <th scope="row">17:00</th>
    <td colspan=2>Official end</td>
  </tr>
  <tr>
    <th scope="row">19:00</th>
    <td colspan=2>After-hack get-together</td>
  </tr>
</table>

<table class="table table-bordered">
  <tr class="bg-primary">
    <th colspan="4">Saturday, Sep. 7, 2019</th>
  </tr>
  <tr>
    <th scope="col" class="col-md-1">Time</th>
    <th scope="col" class="col-md-11">Hackathon</th>
  </tr>
  <tr>
    <th scope="row">8:30</th>
    <td>Doors open</td>
  </tr>
  <tr>
    <th scope="row" />
    <td>Hack on</td>
  </tr>
  <tr>
    <th scope="row">9:30</th>
    <td>Traditional Bavarian Breakfast</td>
  </tr>
  <tr>
    <th scope="row">11:00</th>
    <td>Keynote: <a href="#OliverCharles">Oliver Charles: <i>fast-downward: Combining classical AI with DevOps</i></a></td>
  </tr>
  <tr>
    <th scope="row">14:00</th>
    <td>Coffee &amp; cake</td>
  </tr>
  <tr>
    <th scope="row">14:30</th>
    <td>Project presentations</td>
  </tr>
  <tr>
    <th scope="row">17:00</th>
    <td>Doors close</td>
  </tr>
</table>
