<h2>Schedule</h2>

<p>Please note that all times are CEST.</p>

<table class="table table-bordered">
  <tr class="bg-primary">
    <th colspan="3">Friday, Sep. 6, 2019</th>
  </tr>
  <tr>
    <th scope="col" class="col-md-1">Time</th>
    <th scope="col" class="col-md-6">Hackathon</th>
    <th scope="col" class="col-md-5">Workshop</th>
  </tr>
  <tr>
    <th scope="row">8:00</th>
    <td colspan="2">Doors open &amp; Registration</td>
  </tr>
  <tr>
    <th scope="row">8:30</th>
    <td colspan="2">Breakfast</td>
  </tr>
  <tr>
    <th scope="row">9:00</th>
    <td colspan="2">Opening</td>
  </tr>
  <tr>
    <th scope="row">9:15</th>
    <td colspan="2">Project Announcements</td>
  </tr>
  <tr>
    <th scope="row">9:30</th>
    <td>Hack on</td>
    <td>Beginner's Workshop</td>
  </tr>
  <tr>
    <th scope="row">11:00</th>
    <td colspan="2">Keynote: <a href="#NeilMitchell">Neil Mitchell: <i>Making a Haskell IDE</i></a></td>
  </tr>
  <tr>
    <th scope="row">12:00</th>
    <td colspan="2">Lunch</td>
  </tr>
  <tr>
    <th scope="row">14:00</th>
    <td>Hack on</td>
    <td>Beginner's workshop (continued)</td>
  </tr>
  <tr>
    <th scope="row">15:30</td>
    <td colspan="2">Coffee &amp; cake</td>
  </tr>
  <tr>
    <th scope="row">17:00</td>
    <td colspan="2">Official end</td>
  </tr>
  <tr>
    <th scope="row">19:00</td>
    <td colspan="2">After-hack get-together</td>
  </tr>
</table>

<table class="table table-bordered">
  <tr class="bg-primary">
    <th colspan="4">Saturday, Sep. 7, 2019</th>
  </tr>
  <tr>
    <th scope="col" class="col-md-1">Time</th>
    <th scope="col" class="col-md-6">Hackathon</th>
    <th scope="col" class="col-md-5">Workshop</th>
  </tr>
  <tr>
    <th scope="row">8:30</th>
    <td colspan=2>Doors open &amp; Breakfast</td>
  </tr>
  <tr>
    <th scope="row">9:00</th>
    <td>Hack on</td>
    <td>Parsers From Scratch</td>
  </tr>
  <tr>
    <th scope="row">11:30</th>
    <td colspan=2>Keynote: <a href="#JoachimBreitner">Joachim Breitner: <i>The many faces of isOrderedTree</i></a></td>
  </tr>
  <tr>
    <th scope="row">12:30</th>
    <td colspan=2>Lunch</td>
  </tr>
  <tr>
    <th scope="row">13:45</th>
    <td colspan=2>Group Photo</td>
  </tr>
  <tr>
    <th scope="row">14:00</th>
    <td>Hack on</td>
    <td>Open Haskell Questions</td>
  </tr>
  <tr>
    <th scope="row">15:30</th>
    <td colspan=2>Coffee &amp; cake</td>
  </tr>
  <tr>
    <th scope="row">17:00</th>
    <td colspan=2>Official end</td>
  </tr>
  <tr>
    <th scope="row">19:00</th>
    <td colspan=2>After-hack get-together</td>
  </tr>
</table>

<table class="table table-bordered">
  <tr class="bg-primary">
    <th colspan="4">Sunday, Sep. 8, 2019</th>
  </tr>
  <tr>
    <th scope="col" class="col-md-1">Time</th>
    <th scope="col" class="col-md-11">Hackathon</th>
  </tr>
  <tr>
    <th scope="row">8:30</th>
    <td>Doors open</td>
  </tr>
  <tr>
    <th scope="row" />
    <td>Hack on</td>
  </tr>
  <tr>
    <th scope="row">9:30</th>
    <td>Traditional Bavarian Breakfast</td>
  </tr>
  <tr>
    <th scope="row">11:00</th>
    <td>Keynote: <a href="#OliverCharles">Oliver Charles: <i>Fast Downward: Solving Declarative Planning problems in Haskell</i></a></td>
  </tr>
  <tr>
    <th scope="row">14:00</th>
    <td>Coffee &amp; cake</td>
  </tr>
  <tr>
    <th scope="row">14:30</th>
    <td>Project presentations</td>
  </tr>
  <tr>
    <th scope="row">17:00</th>
    <td>Doors close</td>
  </tr>
</table>
