<p>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <img alt="picture of participants" src="img/2018/group_picture.jpg" width="100%">
        </div>
    </div>
</p>

<p>
    <div class="row">
        <div class="col-xs-6 col-md-2"><a href="img/2018/img1.jpg"><img src="img/2018/img1-thumb.jpg" width="100%"></a></div>
        <div class="col-xs-6 col-md-2"><a href="img/2018/img2.jpg"><img src="img/2018/img2-thumb.jpg" width="100%"></a></div>
        <div class="col-xs-6 col-md-2"><a href="img/2018/img3.jpg"><img src="img/2018/img3-thumb.jpg" width="100%"></a></div>
        <div class="col-xs-6 col-md-2"><a href="img/2018/img4.jpg"><img src="img/2018/img4-thumb.jpg" width="100%"></a></div>
        <div class="col-xs-6 col-md-2"><a href="img/2018/img5.jpg"><img src="img/2018/img5-thumb.jpg" width="100%"></a></div>
        <div class="col-xs-6 col-md-2"><a href="img/2018/img6.jpg"><img src="img/2018/img6-thumb.jpg" width="100%"></a></div>
    </div>
</p>
