<h2>MuniHac 2016</h2>

The last MuniHac took place in September 2016 at TNG Technology Consulting in
Munich.

<h3>Keynotes 2016</h3>
<ul>
    <li><b>Gabriel Gonzalez</b>: <i>Beautiful folds are practical, too</i> (<a href="https://youtu.be/6a5Ti0r8Q2s">https://youtu.be/6a5Ti0r8Q2s</a>)</li>
    <li><b>Jasper van der Jeugt</b>: <i>Hakyll</i> (<a href="https://youtu.be/t8gim17hryw">https://youtu.be/t8gim17hryw</a>)</li>
    <li><b>Bas van Dijk</b>: <i>Functional Programming at LumiGuide</i> (<a href="https://youtu.be/1r6sYrfCFCc">https://youtu.be/1r6sYrfCFCc</a>)</li>
</ul>

