<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>$title$</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/custom.css" rel="stylesheet"/>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
  </head>
  <body id="page-top">
    $if(menu)$
      $partial(menu)$
    $endif$
    $body$
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
