<h2>Directions</h2>

<p>MuniHac is held at the premises of TNG Technology Consulting GmbH in Unterföhring (Munich).</p>

<h3>Location</h3>

<div class="alert alert-custom">
  <div class="row">
    <div class="col-md-8">
      <address>
        <strong><a href="https://www.tngtech.com" target="_blank">TNG Technology Consulting GmbH</a><br></strong>
        Betastraße 13a<br>
        85774 Unterföhring
      </address>
    </div>
    <div class="col-md-4">
      <iframe width="100%" height="100%" frameborder="0" style="border:0"
                                                         src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCIsyJgmJQ4L6tmhtsON8Ei8ReqM0cYDg4&q=TNG+Technology+Consulting+GmbH&center=48.1395176,11.563237&zoom=10" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<h3>By rail (both from city and airport)</h3>

Take S-Bahn line S8, exit at the stop Unterföhring, leave the station heading southwards, after 200 m turn left (to the East) towards the Heinrich-Hildebrand footpath, follow it for about 800 m.

<h3>By bus</h3>

Take line 233, exit at stop Betastraße, or take line 189, exit at stop Dieselstraße. You can plan your trip via <a href="http://www.mvv-muenchen.de/en/homepage/index.html">mvv-muenchen.de</a>.

<h3>By car</h3>
It's usually not too hard to find a parking spot. See the map above.<br><br><br>
