<div class="container px-4 py-5">
  <h2>Hotels</h2>

  <p>A few suggestions to help you find a hotel.</p>

  $for(hotels)$
  <div class="row py-2">
    <div class="col-md-8">
      <address>
        <strong><a href="$url$" target="_blank">$name$</a></strong>
        $for(stars)$
        <span class="glyphicon $class$" aria-hidden="true"></span>
        $endfor$
        <br>
        $street$<br>
        $zip$ $city$
      </address>
      $if(remark)$
      $remark$
      $endif$
    </div>
    <div class="col-md-4">
      <iframe src="$mapsurl$" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  $endfor$
</div>
