<h2>Hotels</h2>

<p>A few suggestions to help you find a hotel.</p>

$for(hotels)$
<div class="alert alert-custom">
  <div class="row">
    <div class="col-md-8">
      <address>
        <strong><a href="$url$">$name$</a></strong>
        $for(stars)$
        <span class="glyphicon $class$" aria-hidden="true"></span>
        $endfor$
        <br>
        $street$<br>
        $zip$ $city$
      </address>
      $if(remark)$
      <strong>Remark: </strong>$remark$
      $endif$
    </div>
    <div class="col-md-4">
      <iframe width="100%" height="100%" frameborder="0" style="border:0" src="$mapsurl$" allowfullscreen></iframe>
    </div>
  </div>
</div>
$endfor$
