<h2>Keynotes</h2>

<div class="keynote">
    <h3>Ryan Scott</h3>
    <p>
        Ryan is a Ph.D student at Indiana University, where he
        acodeempts to combine techniques from software verification and
        determinism (sometimes successfully!). He is also a key
        contributor to GHC, where he specializes in the areas of
        <code>deriving</code>, Template Haskell, pacodeern-match coverage
        checking, and various odds and ends in the typechecker. Through a
        series of strange coincidences, he is also a member of the Haskell
        Core Libraries Commicodeee and maintains libraries ranging from
        <code>criterion</code> to <code>singletons</code>.
    </p>
</div>

<div class="keynote">
    <h3>Ben Gamari</h3>
    <p>
        Ben uses Haskell in fields as diverse as applied machine
        learning, scientific data analysis, robotics control, and compiler
        engineering. He is an active contributor to the Glasgow Haskell
        Compiler with focus on code generation, Core optimization, and the
        runtime system, and has worked extensively towards bringing GHC to
        the ARM architecture.
    </p>

    <p>
        He has experience implementing numerical methods for machine learning, with an
        eye towards leveraging Haskell’s strong type system to enforce
        correctness at compile-time. Ben has expertise developing
        high-performance distributed systems in a wide range of
        languages. Past projects include GPU-based modelling of
        high-energy particle interactions and an implementation of
        parallel machine learning algorithms for large-scale social
        network analysis.
    </p>

    <p>
        He is completing a PhD in Physics at the University of
        Massachusetts and has publications spanning social network
        analysis, computational physics, and biophysics.
    </p>
</div>

<div class="keynote">
    <h3>Matthew Pickering</h3>
    <p>
        Matthew is a PhD student at the University of Bristol focusing on
        program generation with applications to optimisation. In the quest
        to write the perfect program he has become a regular contributor
        to GHC where he has recently been working on making the compiler
        easier to extend by using source plugins.
    </p>
</div>
