<h2>Keynotes</h2>

<a name="RyanScott" />
<div class="keynote">
    <h3>The Curious Case of Pattern-Match Coverage Checking</h3>
    <h4>Ryan Scott</h4>
    <p>
        Patterns in Haskell are useful, but they're prone to issues such as
        incomplete and redundant patterns if used carelessly. Thankfully, GHC
        offers a very handy static analysis, called pattern-match coverage
        checking, which emits warnings if you use patterns recklessly. This talk
        explores the design considerations of coverage checking, considers some of
        the more challenging aspects of determining whether patterns are
        exhaustive, and even demonstrates some patterns that aren't checked
        correctly (as of GHC 8.6!) but will be soon.
    </p>

    <p>
        Ryan is a Ph.D student at Indiana University, where he
        attempts to combine techniques from software verification and
        determinism (sometimes successfully!). He is also a key
        contributor to GHC, where he specializes in the areas of
        <code>deriving</code>, Template Haskell, pattern-match coverage
        checking, and various odds and ends in the typechecker. Through a
        series of strange coincidences, he is also a member of the Haskell
        Core Libraries Committee and maintains libraries ranging from
        <code>criterion</code> to <code>singletons</code>.
    </p>
    <p>
        (<a href="https://youtu.be/nDmNTRG1V_0">https://youtu.be/nDmNTRG1V_0</a>)
    </p>
</div>

<a name="MatthewPickering" />
<div class="keynote">
    <h3>Beautiful Template Haskell</h3>
    <h4>Matthew Pickering</h4>
    <p>
        Forget everything you know about Template Haskell. We will enter the
        beautiful world of Typed Template Haskell where its only possible to
        construct well-scoped and well-typed terms. Why? By writing our
        program in multiple stages, we can guarantee to eliminate the
        interpretative overhead caused by abstraction.
    </p>
    <p>
        Matthew will give an introduction to Typed Template Haskell and then
        describe some examples of how to construct abstract and efficient
        programs using techniques from multi-stage programming. We will
        construct an "efficient" power function and also give a sketch of how
        to implement a SQL query compiler as inspired by the functional pearl
        "A SQL to C Compiler in 500 Lines of Code".
    </p>
    <p>
        Matthew is a PhD student at the University of Bristol focusing on
        program generation with applications to optimisation. In the quest
        to write the perfect program he has become a regular contributor
        to GHC where he has recently been working on making the compiler
        easier to extend by using source plugins.
    </p>
</div>

<a name="BenGamari" />
<div class="keynote">
    <h3>Ben Gamari</h3>
    <p>
        Ben uses Haskell in fields as diverse as applied machine
        learning, scientific data analysis, robotics control, and compiler
        engineering. He is an active contributor to the Glasgow Haskell
        Compiler with focus on code generation, Core optimization, and the
        runtime system, and has worked extensively towards bringing GHC to
        the ARM architecture.
    </p>

    <p>
        He has experience implementing numerical methods for machine learning, with an
        eye towards leveraging Haskell’s strong type system to enforce
        correctness at compile-time. Ben has expertise developing
        high-performance distributed systems in a wide range of
        languages. Past projects include GPU-based modelling of
        high-energy particle interactions and an implementation of
        parallel machine learning algorithms for large-scale social
        network analysis.
    </p>

    <p>
        He is completing a PhD in Physics at the University of
        Massachusetts and has publications spanning social network
        analysis, computational physics, and biophysics.
    </p>
</div>
