<p>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <img alt="picture of participants" src="img/group_picture.jpg" width="100%">
        </div>
    </div>
</p>

<p>
    <div class="row">
        <div class="col-xs-6 col-md-2"><img src="img/img1.jpg" width="100%"></div>
        <div class="col-xs-6 col-md-2"><img src="img/img2.jpg" width="100%"></div>
        <div class="col-xs-6 col-md-2"><img src="img/img3.jpg" width="100%"></div>
        <div class="col-xs-6 col-md-2"><img src="img/img4.jpg" width="100%"></div>
        <div class="col-xs-6 col-md-2"><img src="img/img5.jpg" width="100%"></div>
        <div class="col-xs-6 col-md-2"><img src="img/img6.jpg" width="100%"></div>
    </div>
</p>
