<h2>Schedule</h2>

<p>Please note that all times are CET.</p>

<table style="border-spacing: 2px; border-collapse: separate">
  <!-- Day 1 -->
  <tr>
    <td colspan=3 style="border:1px solid black; padding-left:2pt; font-weight:bold; font-size: 125%; background-color: Plum">Friday, Nov. 16th, 2018</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Time</td>
    <td style="font-weight: bold">Hackathon</td>
    <td style="font-weight: bold">Workshop</td>
  </tr>

  <tr>
    <td align="right">8:00</td>
    <td colspan=2>Doors open &amp; Registration</td>
  </tr>
  <tr>
    <td align="right">8:30</td>
    <td colspan=2>Breakfast</td>
  </tr>
  <tr>
    <td align="right">9:00</td>
    <td colspan=2>Opening</td>
  </tr>
  <tr>
    <td align="right">9:15</td>
    <td colspan=2>Time for everybody to present their projects and/or find fellow Haskellers to work with</td>
  </tr>
  <tr>
    <td align="right">9:30</td>
    <td>Hack on</td>
    <td>Beginner's Workshop</td>
  </tr>
  <tr>
    <td align="right">11:00</td>
    <td colspan=2>Keynote: <a href="#RyanScott">Ryan Scott: <i>The Curious Case of Pattern-Match Coverage Checking</i></a></td>
  </tr>
  <tr>
    <td align="right">12:30</td>
    <td colspan=2>Lunch</td>
  </tr>
  <tr>
    <td align="right">14:00</td>
    <td>Hack on</td>
    <td>Beginner's workshop (continued)</td>
  </tr>
  <tr>
    <td align="right">15:30</td>
    <td colspan=2>Coffee &amp; cake</td>
  </tr>
  <tr>
    <td align="right">17:00</td>
    <td colspan=2>Official end</td>
  </tr>
  <tr>
    <td align="right">19:00</td>
    <td colspan=2>After-hack get-together: <i>Bei Mario</i> (<a href="https://goo.gl/maps/dzu52Qvr3d62">https://goo.gl/maps/dzu52Qvr3d62</a>)</td>
  </tr>

  <!-- Day 2 -->
  <tr>
    <td colspan=3 style="border:1px solid black; padding-left:2pt; font-weight:bold; font-size: 125%; background-color: Plum">Saturday, Nov. 17th, 2018</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Time</td>
    <td style="font-weight: bold">Hackathon</td>
    <td style="font-weight: bold">Workshop</td>
  </tr>

  <tr>
    <td align="right">8:30</td>
    <td colspan=2>Doors open &amp; Breakfast</td>
  </tr>
  <tr>
      <td/>
      <td colspan=2>Hack on</td>
  </tr>
  <tr>
    <td align="right">11:00</td>
    <td colspan=2>Keynote: <a href="#MatthewPickering">Matthew Pickering: <i>Beautiful Template Haskell</i></a></td>
  </tr>
  <tr>
    <td align="right">12:30</td>
    <td colspan=2>Lunch</td>
  </tr>
  <tr>
    <td align="right">14:00</td>
    <td>Hack on</td>
    <td>Datatype-Generic Programming</td>
  </tr>
  <tr>
    <td align="right">15:30</td>
    <td colspan=2>Coffee &amp; cake</td>
  </tr>
  <tr>
    <td align="right">17:00</td>
    <td colspan=2>Official end</td>
  </tr>
  <tr>
    <td align="right">19:00</td>
    <td colspan=2>After-hack get-together: <i>Prinz Alfons</i> (<a href="https://goo.gl/maps/LgmLF4qnqn22">https://goo.gl/maps/LgmLF4qnqn22</a>)</td>
  </tr>

  <!-- Day 3 -->
  <tr>
    <td colspan=3 style="border:1px solid black; padding-left:2pt; font-weight:bold; font-size: 125%; background-color: Plum">Sunday, Nov. 18th, 2018</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Time</td>
    <td style="font-weight: bold">Hackathon</td>
    <td style="font-weight: bold">Workshop</td>
  </tr>

  <tr>
    <td align="right">8:30</td>
    <td colspan=2>Doors open</td>
  </tr>
  <tr>
    <td/>
    <td colspan=2>Hack on</td>
  </tr>
  <tr>
    <td align="right">9:30</td>
    <td colspan=2>Traditional Bavarian Breakfast</td>
  </tr>
  <tr>
    <td align="right">11:00</td>
    <td colspan=2>Keynote: <a href="#BenGamari">Ben Gamari</a></td>
  </tr>
  <tr>
    <td align="right">14:00</td>
    <td colspan=2>Coffee &amp; cake</td>
  </tr>
  <tr>
    <td align="right">14:30</td>
    <td colspan=2>Project presentations</td>
  </tr>
  <tr>
    <td align="right">17:00</td>
    <td colspan=2>Doors close</td>
  </tr>
</table>
